{% extends "base.html"%}

{% block cuerpo %}
<div class="row">

    <div class="col-md-4 offset-md-4">
<!-- la tarjeta card -->
<div class="card">
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>Ventas</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/editarVentas/" method="POST"> {% csrf_token %} <!-- formulario-->

                <div class="form-roup">
                    <input type="text" id="username" name="txtid_empleado" class="form-control"
                    value="{{misventas.id_cliente}}"  maxLenght="6" readonly required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtid_cliente" class="form-control"
                    value="{{misventas.id_cliente}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="id_empleado" class="form-control"
                    value="{{misventas.id_empleado}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtid_producto" class="form-control"
                    value="{{misventas.id_producto}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numfecha_venta" class="form-control"
                    value="{{misventas.fecha_venta}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numcant" class="form-control"
                    value="{{misventas.cant}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numimporte_pagar" class="form-control"
                    value="{{misventas.importe_pagar}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form><!-- formulario-->
        </div>
    </div>

<!-- la tarjeta card -->
    </div><!--columna-->

</div><!--la fila-->
{% endblock %}